body {
    background-color: lightskyblue;
}
.str {
    display: inline-block;
    border-color: #aaaaaa;
    border-width: 2px;
    margin: 5px;
    border-style: solid;
    width: 200px;
}
p {
    background-color: antiquewhite;
    width: 500px;
}
.tb1 {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    margin-top: 30px;
}
tr, td {
    background-color: lavender;
    padding: 3px;
}
span {
    background-color: antiquewhite;
    font-family: 'Droid Serif', serif;
    font-style: italic; /*наклонный*/
}
div {
    background-color: gainsboro;
    width: 800px;
    margin: 5px;
}
.sv {
    background-color: orange;
}
li {
    margin: 5px;
}
#nav {
    text-decoration: underline;
}
.primer {
    background-color: darkgray;
}
.primerS {
    background-color: aqua;
}