.slider__images-wrap {
    font-size: 0;
    height: 600px;
    white-space: nowrap; /*Пробелы не учитываются, переносы строк в коде HTML игнорируются, весь текст отображается одной строкой*/
    transition: margin 0.5s ease-out 0.3s;
}

.slider__images {
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
    margin: auto;
}
div {
    display: block;
}
.fa-amazon {

}